.about-us {
  background-color: #fcfaef;
  display: flex;
  flex-direction: column;

  &__image {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 120px;
    }

    img {
      height: 100%;
      width: 100vw;
      max-width: 100%;
    }
  }

  &__text-wrapper {
    @include on-tablet {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      column-gap: 24px;
    }
  }

  &__title {
    margin: 0;
    display: block;
    color: $main-text-color;
    font-weight: 700;
    font-style: bold;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0;
    margin-bottom: 24px;

    @include on-tablet {
      margin-right: 24px;
    }

    @include on-desktop {
      margin-right: 111px;
    }
  }

  &__description {
    display: block;
    color: $main-text-color;
    font-weight: 400;
    max-width: 411px;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.15px;
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 120px;
    }
  }
}
