.categories {
  &__title {
    margin-bottom: 47px;
  }

  &__category {
    @include page-grid;
  }

  &__product {
    transition: transform $effect-duration ease;
    width: 100%;
    margin-bottom: 16px;
    grid-column: span 1;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }
    img {
      width: 100%;
      display: block;
    }

    &:hover {
      transform: scale(1.03);
    }
  }

  &__name {
    font-weight: 700;
    font-style: bold;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0;

    margin-bottom: 40px;

    @include on-tablet {
      font-size: 24px;
    }
  }

  &__button {
    height: 56px;
    width: 100%;
    color: #fff;
    text-align: center;
    line-height: 56px;
    font-weight: 700;
    font-style: bold;
    font-size: 16px;
    background-color: #f98921;
    border-radius: 8px;
    margin-bottom: 56px;
    cursor: pointer;
    transition: background-color $effect-duration ease;

    &:hover {
      background-color: #1b2129;
    }

    &:active {
      background-color: #010810;
    }

    @include on-tablet {
      margin-bottom: 64px;
    }

    @include on-desktop {
      width: 324px;
    }
  }
}
