.header {
  // display: none !important;

  background-image: url(../images/header-bg-mobile.png);
  background-size: cover;
  background-position: center;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin: 0;
    color: #fff;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0;
    vertical-align: middle;

    @media (min-width: 576px) {
      font-size: 48px;
    }
  }

  &__bottom {
    padding-bottom: 40px;

    @media (min-width: 576px) {
      padding-bottom: 64px;
    }
  }
}
